@font-face {
  font-family: 'montserrat';
  src: url('./fonts/Montserrat-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'limelight';
  src: url('./fonts/Limelight-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'merriweather';
  src: url('./fonts/Merriweather-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  background-image: url('./images/western.jpeg');
  background-color: black;
  background-size: cover;
  font-family: 'Open Sans', sans-serif;
  font-size: 2rem;
  color: white;
}

h1 {
  font-family: 'limelight', sans-serif;
  font-weight: bold;
  margin: 0;
  color: white;
  font-style: italic;
  text-shadow: 4px 4px rgb(204, 204, 255);
}

.tagline {
  font-family: 'montserrat', sans-serif;
}

h2,
h3,
h4,
h5,
h6 {
  font-family: 'montserrat', sans-serif;
}

h3 {
  font-size: 3rem;
}

header.top {
  text-align: center;
}

header.top h1 {
  font-size: 8rem;
}

header.top h3 {
  margin: 0;
  font-size: 2rem;
  color: white;
}


.game-set-match {
  display: flex;
  height: 85vh;
  max-width: 1400px;
  margin: 0 auto;
  margin-top: 5vh;
}

.game-set-match>* {
  flex: 1 4 auto;
  padding: 2rem;
  background: rgba(255, 255, 255, 0.15);
  overflow: scroll;
  -webkit-overflow-scrolling: touch;
  border-radius: 10px;
}

.game-set-match>*::-webkit-scrollbar {
  display: none;
}

.game-set-match>*:first-child {
  flex-basis: 50%;
}

@media only screen and (max-width: 767px) {
  .game-set-match {
    flex-direction: column;
    height: auto;
  }
}

input#card:not(:checked)~#main .game-set-match>* {
  -webkit-transform: none;
  transform: none;
}

input#card {
  display: none;
}

ul {
  margin: 0;
  padding: 0;
}

.asset-edit {
  margin-top: 20px;
  padding: 20px;
  background-color: rgba(245, 245, 245, .05);
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
}

.asset-edit input,
.asset-edit textarea,
.asset-edit select {
  width: 100%;
  padding: 10px;
  font-size: 1.5rem;
  border: none;
  color: rgb(255, 255, 255);
  background-color: rgba(245, 245, 245, 0.05);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.asset-edit textarea {
  min-height: 100px;
}

.asset-edit input::placeholder,
.asset-edit textarea::placeholder {
  color: rgb(200, 200, 200);
}

.asset-edit select::placeholder {
  color: rgb(200, 200, 200);
}

.asset-edit button {
  align-self: flex-end;
  padding: 10px 20px;
  font-size: 1.2rem;
  font-weight: bold;
  color: #fff;
  border: 1px solid #ffffff;
  border-radius: 4px;
  cursor: pointer;
}

.asset-edit button:hover {
  background-color: #333;
  cursor: pointer;
}

.love-all-asset {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  background-color: rgba(245, 245, 245, 0.05);
  padding: 2rem;
  margin-bottom: 1rem;
  overflow: hidden;
  height: 200px;
}

.love-all-asset p {
  margin: 1rem;
  font-size: 1.8rem;
}

.love-all-asset .asset-name {
  margin: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.love-all-asset .tag {
  font-size: 1.4rem;
  justify-content: flex-end;
  text-transform: uppercase;
}

.love-all-asset img {
  float: left;
  width: 10%;
  object-fit: contain;
  margin-bottom: 1rem;
  margin-right: 2rem;
}

button,
input[type=submit] {
  text-transform: uppercase;
  background: none;
  border: 1px solid #ffffff;
  color: white;
  font-weight: 600;
  font-size: 1.5rem;
  font-family: 'montserrat';
  padding: 1rem;
  margin-top: 20px;
  cursor: pointer;
}

button:hover,
input[type=submit]:hover,
button:focus,
input[type=submit]:focus {
  color: #fff;
  outline: 0;
  background-color: #333;
  cursor: pointer;
}

button.github,
input[type=submit].github {
  border: 0;
  display: block;
  margin-bottom: 2rem;
  width: 100%;
  color: #fff;
  padding: 2rem;
}

button.github,
input[type=submit].github {
  background: #82d465;
}

button.github:after,
input[type=submit].github:after {
  background: #5cc437;
}

button.gmail,
input[type=submit].gmail {
  border: 0;
  display: block;
  margin-bottom: 2rem;
  width: 100%;
  color: #fff;
  padding: 2rem;
}

button.gmail,
input[type=submit].gmail {
  background: #4285f4;
}

button.gmail:after,
input[type=submit].gmail:after {
  background: #4285f4;
}

.set-selector {
  max-width: 600px;
  text-align: center;
  margin: 50px auto;
  margin-top: 150px;
  padding: 3rem;
  background-color: rgba(255, 255, 255, 0.1);
  padding: 3rem;
  border-radius: 10px;
  font-family: 'montserrat', sans-serif;
}

.set-selector input[type="text"],
.set-selector button[type="text"] {
  width: 100%;
  margin-bottom: 2.5rem;
  padding: 1rem;
  font-size: 2rem;
  text-align: center;
  color: white;
  background-color: transparent;
  border: 1px solid #ccc;
  border-radius: 10px;
  font-family: 'montserrat', sans-serif;
}

.set-selector input::placeholder,
.set-selector textarea::placeholder {
  color: rgb(173, 171, 171);
}

footer {
  color: #fff;
  text-align: center;
  font-weight: bold;
  font-size: 1.5rem;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}

footer p {
  margin: 0.01rem;
}

@media (max-width: 767px) {
  footer {
    display: none;
  }
}